body {
    margin: 0;
}

canvas {
    background-size: cover;
    display: block;
    
}

.clickable{
    cursor: pointer;
}

h1 {
    font-family: ZABRAS;
    font-size: 56px;
    color: black;
}






.background{
    background-image: url('img/5_background/second_half_background.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions span{
    display: flex;
    font-family: ZABRAS;
    font-size: 40px;
    color: black;
    padding-top: 24px;
    
}


.optionPanel{
    position: absolute;
    top: 2.5vw;
    left: 35vw;  
}

.panel{
    position: absolute;
    bottom: 10px;
    left: 25px;
    
    display: flex;
    justify-content: space-between;
    width: 90vw;
}




button {
    height: 10vh;
    width: 10vw;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFA62D;
    border-radius: 100%;
    border: solid 2px;
}

.soundButton {
    height: 10vh;
    width: 10vw;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #FFA62D;
    border-radius: 100%;
    border: solid 2px;
}

img {
    width: 25px;
    height: 25px;
}

.bottle{
    width: 25px !important;
    height: 25px !important;
}

.showInPortraitMode{
    display: none;
}

.hideOnDesktop{
    display: none;
}

.d-none{
    display: none;
}


#restartButton{
    position: absolute;
    top: 45%;
    left: 48%;
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#mobileStart{
    position: absolute;
    top: 16%;
    left: 50%;
    z-index: 0;
    cursor: pointer;
    height: 40px;
    width: 40px;
}


#mobileStart:hover{
    scale: 1.4;
}

#restartButton:hover{
    scale: 1.4;
}


@media only screen and (max-width: 950px){
    canvas {
        width: 100%;
    }

    #canvasContainer{
        width: 100%;
    }
    

    #mobileStart{
        position: absolute;
        top: 2%;
        z-index: 0;
        cursor: pointer;
        height: 40px;
        width: 40px;
    }

    #restartButton{
        position: absolute;
        top: 70%;
        cursor: pointer;
        height: 40px;
        width: 40px;
    }
}


@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }

    #canvasContainer{
        height: 100vh;
    }

    .hide {
        display: none;
    }

    .showOnMobile{
        display: flex;
    }

    body {
        align-items: normal;
    }

}
    

@media only screen  and (orientation:portrait){
    canvas {        
        display: none;
    }

    #restartButton{
        display: none;
    }

    .landscapeMode{
        margin-bottom: 64px;
    }

    img {
        width: 80px;
        height: 80px;
    }

    .showInPortraitMode{
        display: flex;
    }

    #mobileStart{
        display: none;
    }
}

@media only screen  and (orientation:landscape){

    
    .hideOnGameplay{
        display: flex;
    }
    
}